* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 42%;
  margin: 0 auto;
  font-size: 25px;
  overflow: scroll;
}

#logo {
  background-image: url('../resources/twitter-logo.png');
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}

#add-tweet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

#tweet-box {
  font-size: 1em;
  width: 650px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

#tweet-button {
  border: none;
  font-size: 1.2em;
  color: white;
  background-color: rgb(29, 155, 240);
  border-radius: 10px;
  height: 50px;
  width: 150px;
}

#tweet-button:hover {
  box-shadow: 0px 0px 10px white;
}

.tweet {
  border: 1px solid gray;
  border-radius: 10px;
  height: 180px;
  width: 750px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.tweet:hover {
  box-shadow: 0px 0px 20px white;
}

.like-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.like-button {
  /* background-color: white; */
  background-image: url('../resources/like-logo.png');

  /* border-radius: 50%; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  aspect-ratio: 1;
}
