* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 40%;
  margin: 0 auto;
  font-size: 25px;
}

.tweet {
  border: 1px solid gray;
  height: 180px;
  width: 750px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.like-button {
  background-image: url('../resources/like-icon.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.like-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
