body {
  font-size: 50px;
}

.tweet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.like-button {
  background-image: url('../resources/like-icon.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}
